<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Billing</h3>
        <br>
        <div class="row">
            <section class="panel panel-default col-md-5" style="padding: 0px;">
                
                <div class="panel-heading">
                    <strong>Card form</strong>
                </div>
    
                <div class="panel-body">
                    <div class="row form-group">
                        <label for="cardNumber" class="col-md-3">
                            Card number
                        </label>
                        <div class="col-md-5">
                            <input type="text" id="cardNumber" ng-model="card.number" class="form-control" placeholder="4242 4242 4242 4242">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="cardMonth" class="col-md-3">
                            Expiration month
                        </label>
                        <div class="col-md-5">
                            <input type="text" id="cardMonth" ng-model="card.expMonth" class="form-control" placeholder="12">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="cardYear" class="col-md-3">
                            Expiration year
                        </label>
                        <div class="col-md-5">
                            <input type="text" id="cardYear" ng-model="card.expYear" class="form-control" placeholder="2020">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="cardCVC" class="col-md-3">
                            CVC
                        </label>
                        <div class="col-md-5">
                            <input type="text" id="cardCVC" ng-model="card.cvc" class="form-control" placeholder="123">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary">Add card</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>