<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Billing</h3>
        <br>
        <div class="row">
            <section class="panel panel-default col-md-5" style="padding: 0px;" ng-if="!customer && showView">
                
                <div class="panel-heading">
                    <strong>Card form</strong>
                </div>
    
                <form class="panel-body"
                        name="cardForm"
                        ng-submit="addCard(cardForm)"
                        autocomplete="off"
                        novalidate>
                    <div class="row form-group">
                        <label for="cardNumber" class="col-md-3">
                            Card number
                        </label>
                        <div class="col-md-5">
                            <input type="text" 
                                    id="cardNumber" 
                                    name="cardForm.cardNumber" 
                                    ng-model="card.number" 
                                    class="form-control" 
                                    placeholder="4242 4242 4242 4242">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="cardMonth" class="col-md-3">
                            Expiration month
                        </label>
                        <div class="col-md-5">
                            <input type="text" 
                                    id="cardMonth" 
                                    name="cardForm.cardMonth"  
                                    ng-model="card.expMonth" 
                                    class="form-control"
                                    placeholder="12">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="cardYear" class="col-md-3">
                            Expiration year
                        </label>
                        <div class="col-md-5">
                            <input type="text" 
                                    id="cardYear"
                                    name="cardForm.cardYear" 
                                    ng-model="card.expYear" 
                                    class="form-control" 
                                    placeholder="2020">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="cardCVC" class="col-md-3">
                            CVC
                        </label>
                        <div class="col-md-5">
                            <input type="text" 
                                id="cardCVC"
                                name="cardForm.cardCVC"
                                ng-model="card.cvc" 
                                class="form-control" 
                                placeholder="123">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-4">
                            <button type="submit" class="btn btn-primary" ng-disabled="runProcess">Add card</button>
                        </div>
                    </div>
                </form>
            </section>
            <section class="panel panel-default col-md-5" style="padding: 0px;" ng-if="customer && showView">
                <div class="panel-heading">
                    <strong>Card details</strong>
                </div>
    
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-3">Description</label>
                            <p class="col-md-9">{{ customer.description }}</p>
                        </div>
                        <div class="row">
                            <label class="col-md-3">Card number</label>
                            <p class="col-md-9">**** **** **** {{customer.sources.data[0].last4}}</p>
                        </div>
                        <div class="row">
                            <label class="col-md-3">Brand</label>
                            <p class="col-md-9">{{ customer.sources.data[0].brand }}</p>
                        </div>
                        <div class="row">
                            <label class="col-md-3">Expiration data</label>
                            <p class="col-md-9">{{customer.sources.data[0].exp_month}} / {{customer.sources.data[0].exp_year}}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-4">
                                <button type="button" class="btn btn-danger" ng-disabled="runProcess" ng-click="removeCard()">Remove card</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>