<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Billing</h3>
        <br>
        <div class="row">
            <section class="panel panel-default col-md-12" style="padding: 0px;">
                
                <div class="panel-heading">
                    <strong>Card form</strong>
                </div>
                
                <div class="panel-body">
                    <h4 class="text-center" ng-if="!customer && showView">
                        There are no details yet.</p>
                        <p><a href="#/add-card">Add card now.</a></p>
                    </h4>
                    <div ng-if="customer && customer.sources.data.length && showView">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#/edit-card" class="pull-right">Edit info</a>
                                <a href="#/add-card" class="pull-right" style="padding-right: 30px;">Add card</a>
                            </div>
                        </div>
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="source in customer.sources.data">
                                <div class="row">
                                    <div class="col-md-1">
                                        {{ source.brand }}
                                    </div>
                                    <div class="col-md-2">
                                        **** {{ source.last4 }} {{ source.exp_month }} / {{ source.exp_year }}
                                    </div>
                                    <div class="col-md-1 col-md-offset-7 ">
                                        <button class="btn btn-default" ng-if="customer.default_source == source.id" ng-disabled="true">Default</button>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-danger" ng-click="removeCard(source.id)">Remove</button>
                                    </div>
                                    <!-- <div class="col-md-1 col-md-offset-8 pull-right" ng-if="customer.default_source !== source.id">
                                        <button class="btn btn-default">Default</button>
                                    </div> -->
                                </div>                     
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>